css 포지셔닝과 주요 속성들


float 속성 - 왼쪽이나 오른쪽으로 배치하기

    float : left | right | none

clear 속성 - float 속성 해제하기

    clear : none | left | right | both

position 속성 - 배치 방법 지정하기

    position : static | relative | absolute | fixed

visibility 속성 - 요소를 보이게 하거나 보이지 않게 하기

    visibility : visible | hidden

z-index 속성 - 요소 쌓는 순서 정하기

    z-index : <숫자>