7.1 연결 선택자

하위 선택자 - 지정한 모든 하위 요소에 스타일 적용하기

    section p { color:blue; }

자식 선택자 - 자식 요소에서 스타일 적용하기

    section > p { color:blue; }

인접 형제 선택자 - 가장 가까운 형제 요소에 스타일 적용하기

    h1 + p { color:blue; }

형제 선택자 - 형제 요소에 스타일 적용하기

    h1 ~ p { color"blue; }

