transform 과 변형 함수

    transform:변형 함수;

translate 변형 함수 - 요소 이동시키기

    transgorm:translate(x, y)
    transgorm:translate3d(x, y, z)
    transgorm:translateX(x)
    transgorm:translateY(y)
    transgorm:translateZ(z)

scale 변형 함수 - 요소 확대/축소 하기

    transform:scale(x, y)
    transform:scale3d(x, y, z)
    transform:scaleX(x)
    transform:scaleY(y)
    transform:scaleZ(z)

rotate 변형 함수 - 요소 회전하기

    transform:rotate(각도)
    transform:rotate(x, y, 각도)
    transform:rotate3d(x, y, z, 각도)
    transform:rotateX(x)
    transform:rotateY(y)
    transform:rotateZ(z)

skew 변형 함수 - 요소를 비틀어 왜곡하기

    transform:skew(x, y)
    transform:skewX(x)
    transform:skewY(y)